<% include ../partials/header %>

    <h2>Welcome to DevJobs</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis laboriosam voluptatem dolore nisi, expedita laudantium libero explicabo molestiae omnis nesciunt necessitatibus perferendis molestias sunt dolorem reprehenderit non minima, aspernatur sequi.</p>

<% include ../partials/footer %>